
.product-list{
    display: none;
}
.hover-btn:hover .product-list{
    display: block;
}
.darkButton{
    background-color: transparent;
    color: aquamarine;
    border: none;
    margin-top: 7px;
}