body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.lightMode{
  background-color: rgba(204, 185, 185, 0.575);
}
.darkMode{
  background-color: rgba(0, 0, 0, 0.945);
}
a{
  color: rgb(0, 4, 255) !important;
  text-decoration: none !important;
}